.cat-titles{
    display: flex;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    height: 60px;
    margin-bottom: 20px;

}

.title-main{
    width: 30%;
    margin-left: 50px;
    text-align: left;
}
.h1{
    font-size: 60px;
}
.other-titles{
    width: 30%;
    display: grid;
    grid-template-columns: 40% 40% 40% 40% 40%;
    
}
.title{
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    background-color: #f6f6f6;
}
.li{
    background-color: red;
    color: #00b716;
    height: 100px; 
}


.books-title-main{
    margin-top: 50px;
    text-align: left;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px ;
    grid-template-rows:450px ;
    grid-column-gap: 5px;
}
.books{
    width: 300px;
}
.books img{
    width: 300px;
    height: 320px;
}
.book-info{
    padding: 20px;
    background-color: #f6f6f6;
}